h2 {
    text-align: center;
    font-weight: 400;
    text-decoration: pink underline dotted;
    letter-spacing: 10px;

    
}
p {
    text-align: right;
    font-weight: 700;
    line-height: 1;
}
a {
    text-decoration: none;
}
